.house-card {
  display: flex;
  width: 100%;
  padding: 50px 50px 80px;
  column-gap: 60px;
  border: 5px solid var(--color-title);
  border-radius: 30px;
}

.house-card__image {
  width: 355px;
  height: 324px;
  object-fit: contain;
}

.house-card__info {
  display: flex;
  width: 710px;
  flex-direction: column;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  white-space: preserve-breaks;
}

.house-card__bold-text {
  font-weight: 700;
}
